.file-select {          
    position: relative;
    display: inline-block;
  }
   
  .file-select::before {
    background-color: #031927;
    color: white;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    font-weight: 400;               
  }
   
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;            
  }
   
  #src-file1::before {
      text-transform: uppercase;
    content: 'Seleccionar Archivo';
  }
   
  