.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #800080;
  color: #800080;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #800080;
}

.paginationActive a {
  color: white;
  background-color: #800080;
}

.paginationDisabled a {
  color: #500050;
  background-color: #500050;
}

::-webkit-scrollbar {
  display: none;
}

.centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 601px) {
  ul {
    padding: 0;
  }
}
