.ql-editor {
    min-height: 150px;
  }
  
  hr {
    width: 100%;
  }

.ql-toolbar.ql-snow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
  border-bottom: 1px solid black;
}

.ql-toolbar.ql-snow .ql-formats{
  margin-right: 5px;
}