.contenedor_editor{
    width: 60%;
    margin: 100px auto;
}

.centrado {
    text-align: center;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
@media (max-width: 600px) {
    .botones {
      display: flex;
      flex-direction: column;
    }
  }

.input_titulo {
    border: none;
    border-bottom: 1px solid grey;
}

.input_titulo:focus {
    outline: none;
}


