.container {
    width: 100%
}

.usersContainer {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.MuiCollapse-container {
    width: 0px;
    transition-property: width;
}

.MuiCollapse-entered {
    width: 100%
}

.MuiCollapse-hidden {
    width: 0px
}